.bio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 32px;
  }

  p:first-of-type {
    margin-bottom: 0;

    & ~ p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.head-line {
  height: 5px;
  width: 100%;
  margin-top: 18px;
  background: var(--blue-indigo-bunting);
}
