@import '../../.vitepress/theme/style/function.scss';

.bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 32px;

    @include Mobile {
      font-size: 28px;
    }
  }

  p:first-of-type {
    margin-bottom: 0;

    & ~ p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 78px;
  }
}

.head-line {
  height: 5px;
  width: 100%;
  margin-top: 10px;
  background: var(--blue-indigo-bunting);
}
